<container class="footer">
  <columns>
    <row class="footer-row-one">
      <columns small="6" large="3">
        <a href="#">
          <center>
            <img
              class="location-icon footer-icon"
              src="https://i.postimg.cc/0Nmxgvtw/location-icon.png"
              alt="location-icon"
            />
          </center>
          <p>
            Store<br />
            Locator
          </p>
        </a>
      </columns>

      <columns small="6" large="3">
        <a href="#">
          <center>
            <img
              class="truck-icon footer-icon"
              src="https://i.postimg.cc/6pFw1qhK/truck-icon.png"
              alt="truck"
            />
          </center>
          <p>
            Rapid<br />
            Delivery
          </p>
        </a>
      </columns>

      <columns small="6" large="3">
        <a href="#">
          <center>
            <img
              class="exchange-icon footer-icon"
              src="https://i.postimg.cc/pLmRZzzk/exchange-icon.png"
              alt="exchange-icon"
            />
          </center>
          <p>
            Free exchange<br />
            and returns
          </p>
        </a>
      </columns>

      <columns small="6" large="3">
        <a href="#">
          <center>
            <img
              class="calender-icon footer-icon"
              src="https://i.postimg.cc/pXGPzqhp/calender-icon.png"
              alt="calender-icon"
            />
          </center>
          <p>
            60 days to<br />
            Decide
          </p>
        </a>
      </columns>
    </row>

    <center>
      <row class="footer-row-two">
        <columns>
          <row class="footer-row-two-top">
            <columns large="4" small="12">
              <p><a href="#">View in browser</a></p>
            </columns>

            <columns large="4" small="12">
              <p><a href="#">Forward this email</a></p>
            </columns>

            <columns large="4" small="12">
              <p><a href="#">Unsubscribe</a></p>
            </columns>
          </row>

          <center>
            <row class="footer-row-two-bottom">
              <columns style="width: 8% !important" small="2"></columns>
              <columns small="2">
                <a href="#">
                  <img
                    style="height: 50px"
                    src="https://i.postimg.cc/wMzKJbdR/fb-icon.jpg"
                    alt="fb-icon"
                  />
                </a>
              </columns>
              <columns small="2">
                <a href="#">
                  <img
                    src="https://i.postimg.cc/KvZS8VNd/twitter-icon.jpg"
                    alt="twitter-icon"
                  />
                </a>
              </columns>
              <columns small="2">
                <a href="#">
                  <img
                    src="https://i.postimg.cc/4yQD1bJL/strava-icon.png"
                    alt="strava-icon"
                  />
                </a>
              </columns>
              <columns small="2">
                <a href="#">
                  <img
                    src="https://i.postimg.cc/Y2NBkk16/insta-icon.jpg"
                    alt="instagram-icon"
                  />
                </a>
              </columns>
              <columns small="2">
                <a href="#">
                  <img
                    src="https://i.postimg.cc/m28xzwph/youtube-icon.jpg"
                    alt="youtube-icon"
                  />
                </a>
              </columns>
            </row>
          </center>
        </columns>
      </row>
      <row class="footer-row-three">
        <columns>
          <p>© On 2019</p>
        </columns>
      </row>
    </center>
  </columns>
</container>
